body 
{
  background-color: #D3D3D3;
}

h1 
{
  color: rgb(32, 26, 26);
}

p 
{
  color: rgb(42, 34, 34);
}

ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #2e2e2e;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}