body 
{
  background-color: #D3D3D3;
}

h1 
{
  color: rgb(239, 0, 0);
}

p 
{
  color: rgb(150, 8, 8);
}

ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}