body 
{
  background-color: #D3D3D3;
}

h1 
{
  color: rgb(32, 26, 26);
}

p 
{
  color: rgb(42, 34, 34);
}

ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
} 
ul.nav-menu {
  list-style-type: none;
  margin: 30px;
  padding: 0;
  background-color: #2e2e2e;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
}

ul li a{
  float: left;
  padding: 14px 16px;
  border-right: 1px solid #bbbbbb;
}

ul li a:last-child {
  border-right: none;
}