/* Sets base font for the whole site */
body 
{
    font-family: Roboto;
    margin: 20;
    padding: 20;
    background-color: #D3D3D3;
}

/* Styles a specific class */
.main-header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Flexbox for navigation */
nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
