body 
{
  padding-top: 50px;
  background-color: #D3D3D3;
}

h1 
{
  color: rgb(32, 26, 26);
}

p 
{
  color: rgb(42, 34, 34);
}
a
{
  color: rgb(255, 255, 255);
}
ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
} 
ul.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #4c4c4c;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

ul.nav-menu li a {
  display: block; /* flex children should use block */
  padding: 14px 16px;
  border-right: 1px solid #bbbbbb;
  color: white;
  text-decoration: none;
}

ul li a:last-child {
  border-right: none;
}