:root {
  --background-color: #D3D3D3;
  --link-color: #000000;
  --navbar-color: #4c4c4c;
  --download-color: #DEDEDE;


/* Primary Colors */
  --color-primary: #003F91;     /* French Blue */
  --color-secondary: #2C5F34;   /* Hunter Green */
  --color-third: #931621; /* Deep Crimson */


/* Neutral / Grayscale */
  --color-gray-100: #F3F4F6;
  --color-gray-200: #E5E7EB;
  --color-gray-300: #D1D5DB;
  --color-gray-400: #9CA3AF;
  --color-gray-500: #6B7280;
  --color-gray-600: #4B5563;
  --color-gray-700: #374151;
  --color-gray-800: #1F2937;
  --color-gray-900: #111827;


/*Font Settings*/
  font-size: 20px;
  --margin-xxs: 0.25rem;
  --margin-xs: 0.5rem;
  --margin-s: 0.75rem;
  --margin-m: 1rem;
  --margin-l: 1.25rem;
  --margin-xl: 1.75rem;
  --margin-xxl: 2.5rem;
}


body 
{
  padding-top: 50px;
  background-color: var(--background-color);
}

h1 
{
  color: var(--color-gray-900);
}

h2
{
  color: var(--color-gray-800);
}

h3 
{
  color: var(--color-gray-700);
}

h4 
{
  color: var(--color-gray-500);
}

p 
{
  color: var(--color-gray-900);
}

a
{
  color: var(--link-color);
}

ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
} 

ul.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--navbar-color);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

ul.nav-menu li a {
  display: block; /* flex children should use block */
  padding: 14px 16px;
  border-right: 2px solid #bbbbbb;
  color: white;
  text-decoration: none;
}
.nav-menu li.pushleft {
  margin-left: auto; 
}
ul li a:last-child {
  border-right: none;
}


.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--navbar-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 0px 32px; 
  margin: 0; 
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.project {
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
}

.code-entry {
    border: 4px;
    padding-left: 1rem;
    margin-bottom: 1.5rem;
}

.downloadBtn {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.downloadBtn:hover .downloadBtn {
  display: block;
  color: var(--download-color);

}
