:root {
  --link-color: #000000;
  --download-color: #DEDEDE;


/* Primary Colors  https://coolors.co/931621-2c5f34-d3d3d3-040404-003f91 */
  --primary-color: #003F91;   /* Hunter Green */
  --secondary-color: #2C5F34;     /* French Blue */
/* --color-third: #931621;  Deep Crimson */


/* Neutral / Grayscale */
--color-gray-100: #FFFFFF; /* pure white */
--color-gray-200: #E5E5E5;
--color-gray-300: #CCCCCC;
--color-gray-400: #A3A3A3;
--color-gray-500: #808080; /* true medium gray */
--color-gray-600: #666666;
--color-gray-700: #4D4D4D;
--color-gray-800: #333333;
--color-gray-900: #000000; /* pure black */



/*Font Settings*/
  font-size: 20px;
  --margin-xxs: 0.25rem;
  --margin-xs: 0.5rem;
  --margin-s: 0.75rem;
  --margin-m: 1rem;
  --margin-l: 1.25rem;
  --margin-xl: 1.75rem;
  --margin-xxl: 2.5rem;
}


body 
{
  padding-top: 50px;
  background-color: var(--color-gray-300);
}

h1 
{
  color: var(--color-gray-900);
}

h2
{
  color: var(--color-gray-800);
}

h3 
{
  color: var(--color-gray-700);
}

h4 
{
  color: var(--color-gray-500);
}

p 
{
  color: var(--color-gray-800);
}


ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
} 

ul.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--color-gray-500);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

ul.nav-menu li a {
  display: block; /* flex children should use block */
  padding: 14px 16px;
  border-right: 2px solid var(--color-gray-500);
  color: var(--primary-color);
  text-decoration: none;
}
.nav-menu li.pushleft {
  margin-left: auto; 
}
ul.nav-menu li:last-child a {
  border-right: none;
}



.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: var(--primary-color);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--color-gray-500);
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 0px 32px; 
  margin: 0; 
}

.dropdown:hover .dropdown-content {
  display: block;
}

.project {
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
}

.code-entry {
    border: 1px solid var(--secondary-color);
    border-radius: 6px;
    background-color: var(--color-gray-200);
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.downloadBtn {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.downloadBtn:hover .downloadBtn {
  display: block;
  color: var(--download-color);
}
