.usercp_nav_item {
	font-size: 13px !important;
	display: block;
	padding: 1px;
}

.usercp_nav_item i {
padding-right:10px;
opacity:.5;
}

.usercp_notepad {
	width: 100%;
}

.usercp_container {
	margin: 5px;
	padding: 8px;
	border: none;
}

.usercp_avatar {
	height: 90px;
	width: 90px;
	border-radius: 1000px;
}

.pmspace {
	float: right;
	margin: -3px 5px;
}

.pmspace_container {
	background: #fff;
	border: 1px solid #ccc;
	width: 100px;
	display: inline-block;
}

.pmspace_used {
	display: inline-block;
	color: #fff;
	margin: -1px;
}

.pmspace_used.low {
	border: 1px solid #0c5a01;
	background: #167203;
}

.pmspace_used.medium {
	background: #ff862b;
	border: 1px solid #d7611e;
}

.pmspace_used.high {
	background: #e73c3c;
	border: 1px solid #c00;
}

.pmspace_unused {
	display: inline-block;
}

.pmspace_text {
	padding: 1px 5px;
	display: inline-block;
}

.new_pm {
	font-weight: 500;
}

.ucpnav-border {
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7 !important;
}
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		